<div id="applicationManager">
    <div class="contentTitle"><span class="icon-map-marker"></span>平台管理>应用管理</div>
    <div class="contentMain">
        <div class="contentTool">
            <ul class="iovButtonGroup">
                <li>
					<span class="create" data-toggle="modal" data-target="#create" ng-click="addForm.$setPristine();getAddPage()">
					<span class="icon-plus"></span>新建</span>
                </li>
            </ul>
            <div class="iovSearchBox">
                <div class="input-group">
                    <input type="text" ng-model="key" class="form-control" ng-keyup="mykey($event)" placeholder="请输入<应用名称>搜索">
                    <span class="input-group-btn">
		 		        <button class="btn btn-default" type="button" ng-click="pageChanged()"><span class="icon-search"></span></button>
					</span>
                </div>
            </div>
        </div>
        <div class="contentTable">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-click="selectAll=!selectAll" ng-checked="selectAll"/>序号</th>
                        <th>应用名称</th>
                        <th>应用URL</th>
                        <th>应用CODE</th>
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in dataItems">
                        <td><input type="checkbox"  ng-checked="selectAll" class="massDeletion" id="{{x.id}}"/>{{$index + 1}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.url}}</td>
                        <td>{{x.code}}</td>
                        <td>{{x.createDate|statusTime}}</td>
                        <td class="pointer"><span class="icon-pencil" data-toggle="modal" data-target="#edit" ng-click="getUpdatePage(x)"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="contentBottom">
            <span class="iovButton delete"  ng-click="massDeletion()">删除</span>
            <uib-pagination ng-change="selectAll=false;pageChanged()" items-per-page="pageItemNum" total-items="pageTotal" ng-model="pageNum" max-size="5" first-text="首页" previous-text="0" next-text="0" last-text="尾页" boundary-links="true" boundary-link-numbers="true">
            </uib-pagination>
        </div>
    </div>

    <!-----------------------应用新建------------------------------->
    <div class="modal fade iovModal" id="create">
        <div class="drag" drag>
            <div class="modal-content">
                <div class="modal-header" drag-cursor drag-handle>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新建</h4>
                </div>
                <div class="modal-body">
                    <form name="addForm" ng-submit="create(addForm.$valid)" novalidate="novalidate">
                        <div class="modal-input">
                            <div class="modal-column">

                                <controls title="应用名称" controls="addForm.appName" messages='[{"name":"required","text":"请填写应用名称"},{"name":"pattern","text":"请输入正确格式应用名称"}]' unique="该应用名已存在">
                                    <input type="text" class="form-control" name="appName" placeholder="*应用名称" ng-model="create.appName" ng-focus="create.isChecked=true;addForm.appName.$setValidity('unique', true);" ng-blur="checkAppRepeat(create.appName)" required/>
                                </controls>

                                <controls title="应用URL" controls="addForm.url" messages='[{"name":"required","text":"请填写应用URL"},{"name":"pattern","text":"请输入正确格式URL"}]'>
                                    <input type="text" class="form-control" name="url" placeholder="*应用URL" ng-model="create.url" ng-pattern="" required />
                                </controls>


                                <controls title="应用CODE" controls="addForm.code" messages='[{"name":"required","text":"请填写应用CODE"},{"name":"pattern","text":"请输入正确格式CODE"}]' unique="该应用CODE已存在">
                                    <input type="text" class="form-control" name="code" placeholder="*应用CODE" ng-model="create.code" ng-pattern="" ng-focus="create.isChecked=true;addForm.code.$setValidity('unique', true);" ng-blur="checkCodeRepeat()" required />
                                </controls>

                            </div>


                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-submit">
                            <button type="submit" class="iovFormButton btn confirm" ng-disabled="addForm.$invalid">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------应用编辑------------------------------->
    <div class="modal fade iovModal" id="edit">
        <div class="drag" drag>
            <div class="modal-content">
                <div class="modal-header" drag-cursor drag-handle>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body">
                    <form name="editForm" ng-submit="edit(editForm.$valid)" novalidate="novalidate">
                        <div class="modal-input">
                            <div class="modal-column">

                                <controls title="应用名称" controls="editForm.appName" messages='[{"name":"required","text":"请填写应用名称"},{"name":"pattern","text":"请输入正确格式应用名称"}]' unique="该应用名已存在">
                                    <input type="text" class="form-control" name="appName" placeholder="*应用名称" ng-model="edit.appName" ng-pattern="" ng-focus="edit.isChecked=true;editForm.appName.$setValidity('unique', true);" ng-blur="checkAppRepeat(edit.appName)"  required/>
                                </controls>

                                <controls title="应用URL" controls="editForm.url" messages='[{"name":"required","text":"请填写应用URL"},{"name":"pattern","text":"请输入正确格式URL"}]'>
                                    <input type="text" class="form-control" name="url" placeholder="*应用URL" ng-model="edit.url" ng-pattern="" required />
                                </controls>

                                <controls title="应用CODE" controls="editForm.code" messages='[{"name":"required","text":"请填写应用CODE"},{"name":"pattern","text":"请输入正确格式CODE"}]'>
                                    <input type="text" class="form-control" name="code" placeholder="*应用CODE" ng-model="edit.code" ng-pattern=""  required />
                                </controls>

                            </div>


                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-submit">
                            <button type="submit" class="iovFormButton confirm" ng-disabled="editForm.$invalid">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <del modal-id="massDeletion" content="您即将删除{{massDeletionArr.length}}条数据。您确定要继续吗？" click="delete()"></del>
    <tips content=content animate="animate"></tips>

</div>
