<div id="deployConfigManager">
	<div class="contentTitle"><span class="icon-map-marker"></span>平台管理>部署配置</div>
	<div class="contentMain">
		<div class="contentTool">
			<ul class="iovButtonGroup">
				<li>
					<span class="create" data-toggle="modal" data-backdrop="static" data-target="#create" ng-click="addForm.$setPristine();getAddPage()">
                        	<span class="icon-plus"></span>新建</span>
					<span class="create" ng-click="pageChanged()">
                        	<span class="icon-refresh"></span>刷新</span>
				</li>
			</ul>
			<div class="iovSearchBox">
				<div class="input-group">
					<input type="text" ng-model="key" class="form-control" ng-change="pageChanged()" ng-keyup="mykey($event)" placeholder="请输入<配置名称>搜索">
					<span class="input-group-btn">
		 		        <button class="btn btn-default" type="button" ng-click="pageChanged()"><span class="icon-search"></span></button>
					</span>
				</div>
			</div>
		</div>
		<div class="contentTable">
			<div class="table-responsive">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th><input type="checkbox" ng-click="selectAll=!selectAll" ng-checked="selectAll" />序号</th>
							<th>配置名称</th>
							<th>状态</th>
							<th>服务器名称</th>
							<th>资源包名称</th>
							<!--<th>备注</th>-->
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="x in dataItems">
							<td><input type="checkbox" ng-checked="selectAll" class="massDeletion" id="{{x.id}}" />{{$index + 1}}</td>
							<td>{{x.name}}</td>
							<td>{{x.status | deployStatusFilter}}</td>
							<td>{{x.serverName}}</td>
							<td>{{x.resourcePackName}}</td>
							<!--<td>{{x.remark}}</td>-->
							<td class="pointer">
								<span ng-if="x.status=='0'||x.status=='7'||x.status=='10'" class="icon-pencil" data-toggle="modal" data-backdrop="static" data-target="#edit" ng-click="editForm.$setPristine();getUpdatePage(x)" uib-tooltip="编辑"></span>
								<span ng-if="x.status=='0'||x.status=='7'||x.status=='10'" class="icon-cogs" ng-click="deploy(x)" uib-tooltip="部署"></span>
								<span ng-if="x.status=='1'||x.status=='2'||x.status=='5'" class="icon-play" ng-click="start(x)" uib-tooltip="启动"></span>
								<span ng-if="x.status=='3'||x.status=='4'" class="icon-off"  ng-click="stop(x)" uib-tooltip="停止"></span>
								<span ng-if="x.status=='1'||x.status=='2'||x.status=='4'||x.status=='5'||x.status=='6'" class="icon-trash" ng-click="uninstall(x)" uib-tooltip="卸载"></span>

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="contentBottom" ng-if="isShowContentBottom">
			<span class="iovButton delete"  ng-click="massDeletion()">删除</span>
			<uib-pagination ng-change="selectAll=false;pageChanged()" items-per-page="$parent.pageItemNum" total-items="$parent.pageTotal" ng-model="$parent.pageNum" max-size="5" first-text="首页" previous-text="0" next-text="0" last-text="尾页" boundary-links="true" boundary-link-numbers="true">
			</uib-pagination>
		</div>

	</div>
	<!-----------------------部署配置新建------------------------------->
	<div class="modal fade iovModal" id="create">
		<div class="drag" drag>
			<div class="modal-content">
				<div class="modal-header" drag-cursor drag-handle>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">新建</h4>
				</div>
				<div class="modal-body">
					<form name="addForm" ng-submit="create(addForm.$valid)" novalidate="novalidate">
						<div class="modal-input">
							<div class="modal-column">
								<controls title="配置名称" controls="addForm.deployName" messages='[{"name":"required","text":"请填配置名称"},{"name":"pattern","text":"请输入正确格式的配置名称"},{"name":"maxlength","text":"长度不能超过32个字符"}]' unique="配置名称已存在">
									<input type="text" class="form-control" name="deployName" placeholder="*配置名称" ng-model="create.deployName" ng-focus="create.isChecked=true;addForm.deployName.$setValidity('unique', true);" ng-maxlength="32" ng-blur="removeNameRepeat(create.deployName)" required/>
								</controls>

								<controls title="资源包" controls="addForm.respackId" messages='[{"name":"required","text":"请选择资源包"},{"name":"pattern","text":"请选择资源包"}]'>
									<select class="iovoption" name="respackId" ng-model="create.respackId"  ng-pattern="/^((?!请选择资源包).)*$/" ng-change="resChange(create.respackId)">
										<option disabled>请选择资源包</option>
										<option ng-repeat="x in resourceList" value="{{x.id}}">{{x.name}}</option>
									</select>
								</controls>
								<controls title="应用路径" controls="addForm.contextPath" messages='[{"name":"required","text":"请填写应用路径"},{"name":"pattern","text":"请输入正确格式的应用路径"},{"name":"maxlength","text":"长度不能超过20个字符"}]'>
									<input type="text" class="form-control" name="contextPath" placeholder="*应用路径" ng-pattern="" ng-maxlength="20" ng-model="create.contextPath" ng-pattern="" required disabled />
								</controls>
							</div>
							<div class="modal-column">
								<controls title="服务器" controls="addForm.hostId" messages='[{"name":"required","text":"请选择服务器"},{"name":"pattern","text":"请选择服务器"}]'>
									<select class="iovoption" name="hostId" ng-model="create.hostId" ng-pattern="/^((?!请选择服务器).)*$/">
										<option disabled>请选择服务器</option>
										<option ng-repeat="x in hostList" value="{{x.id}}">{{x.name}}</option>
									</select>
								</controls>
								<controls title="备注" controls="addForm.remark" messages='[{"name":"required","text":"请填写备注"},{"name":"maxlength","text":"长度不能超过250个字符"}]'>
									<input type="text" class="form-control" name="remark" placeholder="*备注" ng-pattern="" ng-maxlength="250" ng-model="create.remark"   />
								</controls>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="modal-submit">
							<button type="submit" class="iovFormButton btn confirm" ng-disabled="addForm.$invalid">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
<!-----------------------部署配置编辑------------------------------->
	<div class="modal fade iovModal" id="edit">
		<div class="drag" drag>
			<div class="modal-content">
				<div class="modal-header" drag-cursor drag-handle>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">编辑</h4>
				</div>
				<div class="modal-body">
					<form name="editForm" ng-submit="edit(editForm.$valid)" novalidate="novalidate">
						<div class="modal-input">
							<div class="modal-column">
								<controls title="配置名称" controls="editForm.deployName" messages='[{"name":"required","text":"请填配置名称"},{"name":"pattern","text":"请输入正确格式的配置名称"},{"name":"maxlength","text":"长度不能超过32个字符"}]' unique="配置名称已存在">
									<input type="text" class="form-control" name="deployName" placeholder="*配置名称" ng-model="edit.deployName" ng-focus="edit.isChecked=true;editForm.deployName.$setValidity('unique', true);" ng-maxlength="32" ng-blur="removeNameRepeat(edit.deployName)" required/>
								</controls>

								<controls title="资源包" controls="editForm.respackId" messages='[{"name":"required","text":"请选择资源包"},{"name":"pattern","text":"请选择资源包"}]'>
									<select class="iovoption" name="respackId" ng-model="edit.respackId"  ng-pattern="/^((?!请选择资源包).)*$/" ng-change="resChange(edit.respackId)">
										<option disabled>请选择资源包</option>
										<option ng-repeat="x in resourceList" value="{{x.id}}">{{x.name}}</option>
									</select>
								</controls>
								<controls title="应用路径" controls="editForm.contextPath" messages='[{"name":"required","text":"请填写应用路径"},{"name":"pattern","text":"请输入正确格式的应用路径"},{"name":"maxlength","text":"长度不能超过20个字符"}]'>
									<input type="text" class="form-control" name="contextPath" placeholder="*应用路径" ng-pattern="" ng-maxlength="20" ng-model="edit.contextPath" ng-pattern="" disabled required />
								</controls>
							</div>
							<div class="modal-column">
								<controls title="服务器" controls="editForm.hostId" messages='[{"name":"required","text":"请选择服务器"},{"name":"pattern","text":"请选择服务器"}]'>
									<select class="iovoption" name="hostId" ng-model="edit.hostId" ng-pattern="/^((?!请选择服务器).)*$/">
										<option disabled>请选择服务器</option>
										<option ng-repeat="x in hostList" value="{{x.id}}">{{x.name}}</option>
									</select>
								</controls>
								<controls title="备注" controls="editForm.remark" messages='[{"name":"required","text":"请填写备注"},{"name":"maxlength","text":"长度不能超过250个字符"}]'>
									<input type="text" class="form-control" name="remark" placeholder="*备注" ng-pattern="" ng-maxlength="250" ng-model="edit.remark"   />
								</controls>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="modal-submit">
							<button type="submit" class="iovFormButton confirm" ng-disabled="editForm.$invalid">确定</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<del modal-id="massDeletion" content="您即将删除{{massDeletionArr.length}}条数据。您确定要继续吗？" click="delete()"></del>
	<tips content=content animate="animate"></tips>

</div>