<div id="tenantmanager">
    <div class="contentTitle"><span class="icon-map-marker"></span>平台管理>系统管理员</div>
    <div class="contentMain">
        <div class="contentTool">
            <ul class="iovButtonGroup">
                <li>
					<span class="create" data-toggle="modal" data-backdrop="static" data-target="#create" ng-click="tenantAddForm.$setPristine();getTenantAddPage()">
					<span class="icon-plus"></span>新建</span>
                </li>
            </ul>
            <div class="iovSearchBox">
                <div class="input-group">
                    <input type="text" ng-model="key" class="form-control" ng-change="pageChanged()" ng-keyup="mykey($event)" placeholder="请输入<管理员名称>搜索">
                    <span class="input-group-btn">
		 		        <button class="btn btn-default" type="button" ng-click="pageChanged()"><span class="icon-search"></span></button>
					</span>
                </div>
            </div>
        </div>
        <div class="contentTable">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th><input type="checkbox" ng-click="selectAll=!selectAll" ng-checked="selectAll"/>序号</th>
                        <th>管理员名称</th>
                        <th>手机号</th>
                        <th>E-Mail</th>
                        <!--<th>地址</th>-->
                        <th>创建时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in dataItems">
                        <td><input type="checkbox"  ng-checked="selectAll" class="massDeletion" id="{{x.id}}"/>{{$index + 1}}</td>
                        <td>{{x.userName}}</td>
                        <td>{{x.phone}}</td>
                        <td>{{x.email}}</td>
                        <!--<td>{{x.orgName}}</td>-->
                        <!--<td>{{x.address}}</td>-->
                        <td>{{x.createDate|statusTime}}</td>
                        <td class="pointer"><span class="icon-pencil" data-toggle="modal" data-backdrop="static" data-target="#edit" ng-click="getUpdatePage(x)"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="contentBottom" ng-if="isShowContentBottom">
            <span class="iovButton delete"  ng-click="massDeletion()">删除</span>
            <uib-pagination ng-change="selectAll=false;pageChanged()" items-per-page="$parent.pageItemNum" total-items="$parent.pageTotal" ng-model="$parent.pageNum" max-size="5" first-text="首页" previous-text="0" next-text="0" last-text="尾页" boundary-links="true" boundary-link-numbers="true">
            </uib-pagination>
        </div>
    </div>

    <!-----------------------管理员新建------------------------------->
    <div class="modal fade iovModal" id="create">
        <div class="drag" drag>
            <div class="modal-content">
                <div class="modal-header" drag-cursor drag-handle>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">新建</h4>
                </div>
                <div class="modal-body">
                    <form name="tenantAddForm" ng-submit="tenantCreate(tenantAddForm.$valid)" novalidate="novalidate">
                        <div class="modal-input">
                            <div class="modal-column">

                                <controls title="登录名称" controls="tenantAddForm.tenantLoginName" messages='[{"name":"required","text":"请填写登录名称"},{"name":"pattern","text":"请输入正确格式用户登录名不能包含中文"},{"name":"maxlength","text":"长度不能超过40位"}]' unique="该登录名称已存在">
                                    <input type="text" class="form-control" ng-trim="true" name="tenantLoginName" placeholder="*登录名称" ng-model="tenantCreate.tenantLoginName" ng-maxlength="40" ng-pattern="/^[^\u4e00-\u9fa5]+$/" ng-focus="tenantCreate.isChecked=true;tenantAddForm.tenantLoginName.$setValidity('unique', true);" ng-blur="checkLoginNameRepeat(tenantCreate.tenantLoginName)" required/>
                                </controls>

                                <controls title="密码" controls="tenantAddForm.tenantPassword" messages='[{"name":"required","text":"请填写密码"},{"name":"minlength","text":"最少为6位"},{"name":"maxlength","text":"最长为32位"},{"name":"pattern","text":"请输入正确格式的密码"}]'>
                                    <input type="password" class="form-control" name="tenantPassword" placeholder="*6到32位字符" ng-model="tenantCreate.tenantPassword" ng-pattern="/^[\w\?%&=\-\._]+$/" ng-maxlength="32" ng-minlength="6" required/>
                                </controls>

                                <controls title="手机号" controls="tenantAddForm.tenantPhone" messages='[{"name":"required","text":"请填写手机号"},{"name":"pattern","text":"请输入正确格式手机号"}]'">
                                <input type="text" class="form-control" name="tenantPhone" placeholder="*手机号" ng-model="tenantCreate.tenantPhone" ng-pattern="/^1(3|4|5|7|8)\d{9}$/" required/>
                                </controls>

                            </div>

                            <div class="modal-column">

                                <controls title="管理员名称" controls="tenantAddForm.tenantName" messages='[{"name":"required","text":"请填写管理员名称"},{"name":"maxlength","text":"长度不能超过25位"}]'>
                                    <input type="text" class="form-control" ng-trim="true" name="tenantName" placeholder="*管理员名称" ng-model="tenantCreate.tenantName" ng-maxlength="25" ng-pattern="" required/>
                                </controls>

                                <controls title="邮件" controls="tenantAddForm.tenantEmail" messages='[{"name":"required","text":"请填写邮箱"},{"name":"pattern","text":"您输入正确格式邮箱地址!"},{"name":"maxlength","text":"长度不能超过40位"}]'>
                                    <input type="text" class="form-control" ng-trim="true" name="tenantEmail" placeholder="*邮箱" ng-model="tenantCreate.tenantEmail" ng-maxlength="40" ng-pattern="/^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/" required/>
                                </controls>

                                <controls title="地址" controls="tenantAddForm.tenantAddress" messages='[{"name":"required","text":"请填写地址"},{"name":"maxlength","text":"长度不能超过250位"}]'">
                                <input type="text" class="form-control" ng-trim="true" name="tenantAddress" placeholder="*地址" ng-maxlength="40" ng-model="tenantCreate.tenantAddress" required/>
                                </controls>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-submit">
                            <button type="submit" class="iovFormButton btn confirm" ng-disabled="tenantAddForm.$invalid">确定</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-----------------------用户编辑------------------------------->
    <div class="modal fade iovModal" id="edit">
        <div class="drag" drag>
            <div class="modal-content">
                <div class="modal-header" drag-cursor drag-handle>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">编辑</h4>
                </div>
                <div class="modal-body">
                    <form name="tenantEditForm" ng-submit="tenantEdit(tenantEditForm.$valid)" novalidate="novalidate">
                        <div class="modal-input">

                            <div class="modal-column">

                                <controls title="登录名称" controls="tenantEditForm.tenantLoginName" messages='[{"name":"required","text":"请填写登录名称"},{"name":"pattern","text":"请输入正确格式用户登录名不能包含中文"},{"name":"maxlength","text":"长度不能超过40位"}]' unique="该登录名称已存在">
                                    <input type="text" class="form-control" ng-trim="true" name="tenantLoginName" placeholder="*登录名称" ng-model="tenantEdit.tenantLoginName" ng-pattern="/^[^\u4e00-\u9fa5]+$/" ng-maxlength="40" ng-focus="tenantEdit.isChecked=true;tenantEditForm.tenantLoginName.$setValidity('unique', true);" ng-blur="checkLoginNameRepeat(tenantEdit.tenantLoginName)" required/>
                                </controls>

                                <controls title="密码" controls="tenantEditForm.tenantPassword" messages='[{"name":"required","text":"请填写密码"},{"name":"minlength","text":"最少为6位"},{"name":"maxlength","text":"最长为32位"},{"name":"pattern","text":"请输入正确格式的密码"}]'>
                                    <input type="password" class="form-control" name="tenantPassword" placeholder="*6到32位字符" ng-model="tenantEdit.tenantPassword" ng-pattern="/^[\w\?%&=\-\._]+$/" ng-maxlength="32" ng-minlength="6" required/>
                                </controls>

                                <controls title="手机号" controls="tenantEditForm.tenantPhone" messages='[{"tenantPhone":"required","text":"请填写手机号"},{"tenantPhone":"pattern","text":"请输入正确格式手机号"}]'">
                                <input type="text" class="form-control" name="tenantPhone" placeholder="*手机号" ng-model="tenantEdit.tenantPhone" ng-pattern="/^1(3|4|5|7|8)\d{9}$/" required/>
                                </controls>

                            </div>

                            <div class="modal-column">


                                <controls title="管理员名称" controls="tenantEditForm.tenantName" messages='[{"name":"required","text":"请填写管理员名称"},{"name":"maxlength","text":"长度不能超过25位"}]'>
                                    <input type="text" class="form-control" ng-trim="true" name="tenantName" placeholder="*管理员名称" ng-model="tenantEdit.tenantName" ng-maxlength="25" ng-pattern="" required/>
                                </controls>

                                <controls title="邮件" controls="tenantEditForm.tenantEmail" messages='[{"name":"required","text":"请填写邮箱"},{"name":"pattern","text":"您输入正确格式邮箱地址!"},{"name":"maxlength","text":"长度不能超过40位"}]'>
                                    <input type="text" class="form-control" ng-trim="true" name="tenantEmail" placeholder="*邮箱" ng-model="tenantEdit.tenantEmail" ng-maxlength="40" ng-pattern="/^[a-z0-9]+([._\\-]*[a-z0-9])*@([a-z0-9]+[-a-z0-9]*[a-z0-9]+.){1,63}[a-z0-9]+$/" required/>
                                </controls>

                                <controls title="地址" controls="tenantEditForm.tenantAddress" messages='[{"name":"required","text":"请填写地址"},{"name":"maxlength","text":"长度不能超过250位"}]'">
                                <input type="text" class="form-control" ng-trim="true" name="tenantAddress" placeholder="*地址" ng-maxlength="40" ng-model="tenantEdit.tenantAddress" required/>
                                </controls>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div class="modal-submit">
                            <button type="submit" class="iovFormButton confirm" ng-disabled="tenantEditForm.$invalid">确定</button>
                        </div>
                    </form>
              </div>
            </div>
        </div>
    </div>

    <del modal-id="massDeletion" content="您即将删除{{massDeletionArr.length}}条数据。您确定要继续吗？" click="delete()"></del>
    <tips content=content animate="animate"></tips>

</div>
