#topicDataBrowse .content{
    position:absolute;
    top:50px;
    left:0;
    right:0;
    bottom:0;
}
#topicDataBrowse .content .user{
    width:230px;
    height:100%;
    padding:20px;
    border-right:1.5px #C9C9C9 solid;
    position: relative;
    border-top:5px solid #F15959
}
#topicDataBrowse .content .user .searchbox{
    position: relative;
}
#topicDataBrowse .content .user .searchbox input{
    border-radius:3px ;
    border:2px solid #DCDCDC;
}
#topicDataBrowse .content .user .searchbox input:focus{
    border:1px solid #66afe9
}
#topicDataBrowse .content .user .searchbox span{
    position: absolute;
    top:7px;
    right:12px;
    font-size:18px;
    color:#C9C9C9;
}
#topicDataBrowse .content .user .head{
    width:100%;
    padding:4px 25px;
    /*margin-top:20px;*/
    font-size:14px;
}
#topicDataBrowse .content .user ul{
    position: absolute;
    top:98px;
    right:20px;
    left:20px;
    bottom:0;
    background-color:#F1F0F0;
    padding-top:8px;
}
#topicDataBrowse .content .user ul li{
    padding:8px 25px;
    cursor:pointer;
}
#topicDataBrowse .content .user ul li:hover{
    background-color:#DFE0E0;
}
#topicDataBrowse .content .user ul li.active{
    background-color:#DFE0E0;
}
#topicDataBrowse .content .user ul li span{
    display: inline-block;
    height:20px;
    width:20px;
    background-color:#DCDADA;
    color:#FFF;
    text-align: center;
    line-height:20px;
    vertical-align: middle;
    margin-right:12px;
}
#topicDataBrowse .content .contentMain{
    top:0;
    left:230px;
    padding:25px 25px;
}
#topicDataBrowse .iovModal#create .modal-input .modal-column,#topicDataBrowse .iovModal#import .modal-input .modal-column{
    width:100%
}
#topicDataBrowse .iovModal#create .drag,#topicDataBrowse .iovModal#import .drag{
    width:400px;
    top:100px;
}
#topicDataBrowse .iovModal.property .contentMain .contentTable{
    position:absolute;
    top:75px;
    bottom:113px;
    width:100%;
    overflow: auto;
}
#topicDataBrowse .iovModal.property#propertyCheck .contentMain .contentTable{
    top:0px;
}
#topicDataBrowse .iovModal.property .modal-submit{
    padding:40px 55px;
    height:auto;
    position: absolute;
    bottom:0;
}
#topicDataBrowse .iovModal.property .modal-submit button{
    margin-left:40px;
}
#topicDataBrowse .iovModal.property .contentMain{
    position: static;
    padding:0;
}
#topicDataBrowse .iovModal.property .contentMain .contentTool{
    height:75px;
    padding:20px 25px;
}
#topicDataBrowse .iovModal.property .contentMain .contentTool .iovButtonGroup li span{
    background-color:#6BC3DB ;
    font-size:14px;
    color:#FFF;
    letter-spacing:1px ;

}

#topicDataBrowse .iovModal.property .contentMain table{
    background-color:#F5F7F7 ;
}
#topicDataBrowse .iovModal.property .contentTable table thead{
    background-color:inherit;
    color:#000
}
#topicDataBrowse .iovModal.property .contentTable .table > thead > tr > th{
    border:none;
}
#topicDataBrowse .iovModal.property .contentTable table tbody tr{
    border-top:1px #E6E8E7 solid;
}
#topicDataBrowse .iovModal.property .contentMain tbody tr td input,#topicDataBrowse .iovModal.property .contentMain tbody tr td select{
    height:30px;
    border:2px #c9c9c9 solid;
    padding:0 12px;
}
#topicDataBrowse .iovModal.property .contentMain tbody tr td input:focus,#topicDataBrowse .iovModal.property .contentMain tbody tr td select:focus{
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
#topicDataBrowse .iovModal.property .contentMain thead tr th:nth-of-type(1){
    width:70px;
}
#topicDataBrowse .iovModal.property .contentMain thead tr th:nth-of-type(4){
    width:142px;
}
#topicDataBrowse .iovModal.property .contentMain thead tr th:nth-of-type(5){
    width:100px;
}
#topicDataBrowse .iovModal.property .contentMain thead tr th:nth-of-type(6){
    width:70px;
}
#topicDataBrowse .iovModal.property .contentMain thead tr th:nth-of-type(7){
    width:100px;
}
#topicDataBrowse .iovModal.property .contentMain thead tr th:nth-of-type(8){
    width:100px;
}
#topicDataBrowse .iovModal.property .contentMain thead tr th:nth-of-type(9){
    width:70px;
}
#topicDataBrowse .iovModal.property .contentMain tbody tr td:nth-of-type(1){
    font:400 14px "microsoft yahei";
    line-height:30px;
    vertical-align:middle ;
}

#topicDataBrowse .iovModal.property .contentMain tbody tr td:nth-of-type(9)>span{
    cursor:pointer;
    font-size:18px;
    vertical-align:middle;
}
#topicDataBrowse .iovModal.property .form-group{
    margin-bottom:0;
}
#topicDataBrowse .iovModal.property .errorTips{
    top:36px;
}

/*新加样式*/
#topicDataBrowse .content .user .treeBtn{
    margin-left:5px;
}

#topicDataBrowse .OneLVtreeIovModal .modal-input .modal-column{
    width:100%;
}
#topicDataBrowse .OneLVtreeIovModal .drag{
    width: 500px;
}

#topicDataBrowse .contentTable{
	position: relative;
}

#topicDataBrowse .contentTable>span{
    margin-top:16px;
    float: right;
    font-size: 16px;
    color:#000;
    z-index: 2;
    cursor:pointer;
}
#topicDataBrowse .contentMain>.checkBoxList{
	transition: all linear 0.3s;
	position: absolute;
	top:120px;
	height:400px;
	width:200px;
	background-color:#fff;
	border-radius: 3px;
	box-shadow: 0 0 20px rgb(205,205,205);
	z-index: 3;
	opacity:0;
	right:-200px;
}

#topicDataBrowse .contentMain > .checkBoxList.listShow{
    opacity:1;
    height:400px;
    right: 40px;
}
#topicDataBrowse .contentMain>.checkBoxList.ng-enter{
    opacity:0;
}
#topicDataBrowse .contentMain>.checkBoxList.ng-enter-active{
    opacity:1;
}
#topicDataBrowse .contentMain>.checkBoxList.ng-leave-active{
    height:0px;
    opacity:0;
}
#topicDataBrowse .contentMain>.checkBoxList>.head{
    height:40px;
    width:100%;
    font-size:14px;
    line-height: 40px;
    vertical-align: middle;
    text-align: center;
    border-bottom:1px solid rgb(233,233,233)
}
#topicDataBrowse .contentMain>.checkBoxList>.middle{
    position: absolute;
    top:40px;
    bottom:50px;
    left: 0;
    right: 0;
}
#dataChtopicDataBrowseeck .contentMain>.checkBoxList>.middle ul{
    height: 100%;
    width: 100%;
}
#topicDataBrowse .contentMain>.checkBoxList>.middle ul li{
    height: 40px;
    width: 100%;
    padding:15px;
}
#topicDataBrowse .contentMain>.checkBoxList>.middle ul li>span{
    display: inline-block;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#topicDataBrowse .contentMain>.checkBoxList>.middle ul li .fieldsFilter ~ label{
    font-size:16px;
    width:24px;
    position: relative;
    top:-2px;
}
#topicDataBrowse .contentMain>.checkBoxList>.middle ul li .fieldsFilter:checked ~ label.icon-check,#topicDataBrowse .contentMain>.checkBoxList>.middle ul li .fieldsFilter ~ label.icon-check-empty{
    display: inline-block;
}
#topicDataBrowse .contentMain>.checkBoxList>.middle ul li .fieldsFilter:checked ~ label.icon-check-empty,#topicDataBrowse .contentMain>.checkBoxList>.middle ul li .fieldsFilter ~ label.icon-check{
    display: none;
}

#topicDataBrowse .contentMain>.checkBoxList>.foot{
    position: absolute;
    bottom:0;
    left: 0;
    height:50px;
    width:100%;
    border-top:1px solid rgb(233,233,233);
    text-align: center;
    padding:11px 0;
}
#topicDataBrowse .contentMain>.checkBoxList>.foot .iovFormButton{
    padding:5px 20px;
}
#topicDataBrowse .contentMain>.checkBoxList>.foot .iovFormButton.confirm{
    margin-right:10px
}
#topicDataBrowse .ngscroll-content-container{
    min-width: 100%;
}
#topicDataBrowse .contentBottom{
    border-top: 1px #e9e9e9 solid;
}
#topicDataBrowse .table-bordered{
    border:none
}
#topicDataBrowse .columnName{
    width: 200px
}
#topicDataBrowse .contentTable .tableindex{
    width: 50px
}
#topicDataBrowse .leftMenuBar {
    width: 230px;
    height: 100%;
    padding: 22px 15px 15px 15px;
    border-right: 1.5px #C9C9C9 solid;
    position: relative;
    border-top: 5px solid #30AFAE;
}
/*动态设置表格中过长的的内容只显示部分====START====*/
#topicDataBrowse .table {
    table-layout: fixed;
}
#topicDataBrowse .table td {
    white-space:nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
/*动态设置表格中过长的的内容只显示部分====END====*/
#topicDataBrowse .columnsSelect {
    width: 15%;
    height: 100%;
    float: right;
    padding: 5px;
}
#topicDataBrowse .columnsSearchBox {
    width: 21%;
    height: 100%;
    float: right;
    padding: 5px;
}


