body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body {color:#414a59; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif;   -moz-user-select: none; /*火狐*/
   /*-webkit-user-select: none;  !*webkit浏览器*!
   -ms-user-select: none;   !*IE10*!
   -khtml-user-select: none; !*早期浏览器*!
   user-select: none; */
	overflow-x: hidden;
	}
	label{
	font:400 14px "microsoft yahei";
	font-weight:400}
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:none; }
a:focus{outline: none;text-decoration:none;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow: hidden;} 
/*颜色类*/
span.star:after{
    content:"*";
    color:#F18574
}

/*左右结构-树-内容*/
.leftMenuBar{
    width: 230px;
    height: 100%;
    padding: 22px 0px 15px 15px;
    border-right: 1.5px #C9C9C9 solid;
    position: relative;
    border-top: 5px solid #30AFAE;
}

.menuContentMain{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 230px;
    right: 0;
    padding: 15px;
}


/*通用组件*/
.contentMain{
	position:absolute;
	top:50px;
	bottom:0;
	left:0;
	right:0;
	padding:25px;
}
.contentTool{
	width:100%;
	height:50px;
}
.contentTool ul{
	height:100%;
	float:left;
}
.contentTool ul li{
	display: block;
	float:left;
	height:100%;
	margin-right:20px;
}
span.iovButton,ul.iovButtonGroup>li>span{
	display: inline-block;
	padding:6px 20px;
	border-radius:3px ;
	font:400 16px "microsoft yahei";
	cursor:pointer;
	position: relative;
}
span.iovButton>span,ul.iovButtonGroup>li>span>span{
	margin-right:5px
}

span.iovButton.delete,ul.iovButtonGroup>li>span.delete,span.iovButton.cancel,ul.iovButtonGroup>li>span.cancel{
	font-size:14px;
	padding:6px 15px;
}
span.iovButton:active,ul.iovButtonGroup>li>span:active{
	top:1px;
	left:1px;
}
button.iovFormButton{
	font-size:12px;
	padding:8px 30px;
	border:none;
	position: relative;
}
.iovoption{
	height:34px;
	width:100%;
	border: solid 1px #3c763d;
	appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
   padding: 0 14px 0 12px;
   cursor:pointer;
   background: url("../../img/index/arrow.png") no-repeat scroll right center transparent;
}
.iovoption:focus{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.has-error .iovoption{
	border-color:#a94442
}
.has-error .iovoption:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-success .iovoption{
	border-color:#3c763d
}
.has-success .iovoption:focus {
    border-color: #2b542c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.bootstrap-select.iovselect > .dropdown-toggle{
	border-radius:0;
}
.has-success .bootstrap-select.iovselect > .dropdown-toggle{
	border-color:#a94442
}
.has-success .bootstrap-select.iovselect > .dropdown-toggle:active{
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}
.has-success .bootstrap-select.iovselect > .dropdown-toggle{
	border-color:#3c763d;
}
.has-success .bootstrap-select.iovselect > .dropdown-toggle:active{
    border-color: #2b542c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}
.iovSearchBox{
	float:right;
	width:400px;
	position:relative;
}
.iovSearchBox .input-group button span{
	color:#CCC
}
.contentTable table tbody tr td:first-of-type input[type="checkbox"]{
	float:left;
	position:relative;
	top:1px;
	left:12px;
}
.contentTable table thead tr th:first-of-type input[type="checkbox"]{
	float:left;
	position:relative;
	top:1px;
	left:12px;
	margin-right:10px;
}
.contentTable table thead th,.contentTable table tbody td{
	text-align: center;
}
.contentTable table tbody{
	color:#959595;
}
.contentTable .table{
	margin-bottom:0;
}
.contentTable .table > thead > tr > th,.contentTable .table > tbody > tr > th,.contentTable .table > tfoot > tr > th,.contentTable .table > thead > tr > td,.contentTable .table > tbody > tr > td,.contentTable .table > tfoot > tr > td{
	padding:12px 8px;
}
.contentTable .table-striped > tbody > tr:nth-of-type(2n+1){
	background-color:#F8F8F8 ;
}
.contentTable .table tbody tr{
	height:45px
}
.contentTable .table-bordered > thead > tr > th,.contentTable .table-bordered > tbody > tr > th,.contentTable .table-bordered > tfoot > tr > th,.contentTable .table-bordered > thead > tr > td,.contentTable .table-bordered > tbody > tr > td,.contentTable .table-bordered > tfoot > tr > td{
	border:1px #e9e9e9 solid;
}
.contentTable .table-bordered > thead > tr > th,.contentTable .table-bordered > tbody > tr > td{
	border:none;
}
.contentTable .table-bordered > thead > tr > th:first-of-type{
	width:100px;
}
.table > tbody > tr > td.pointer span{
	cursor:pointer;
	margin-right:20px;
	font-size:16px;
}
.contentTable .table > tbody > tr > td.pointer span:last-of-type{
	margin-right:0;
}
.contentBottom{
	width:100%;
	height:74px;
	border:1px #e9e9e9 solid;
	padding:0 10px;
	border-top:none;
}
.contentBottom>span:first-of-type{
	float:left;
	margin:21px 0
}
.contentBottom .deleteGroup>span{
	margin-right:20px;
}
.contentBottom>ul{
	float:right;
}
.contentBottom  ul.pagination li.pagination-first a{
	border-radius: 3px;
	margin-right:12px;
}
.contentBottom ul.pagination li.pagination-last a{
	border-radius: 5px;
	margin-left:12px;
}
.contentBottom .pagination > li > a,.contentBottom .pagination > li > span{
}
.contentBottom .pagination > .active > a,.contentBottom .pagination > .active > span,.contentBottom .pagination > .active > a:hover,.contentBottom .pagination > .active > span:hover,.contentBottom .pagination > .active > a:focus,.contentBottom .pagination > .active > span:focus{
}
.contentBottom .pagination  li.pagination-prev a{
	color:transparent
}
.contentBottom .pagination-prev a:after{
	content:"";
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-3px;
	margin-top:-6px;
	width:0; 
    height:0; 
	float:left;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-right:6px solid  transparent; 
}
.contentBottom .pagination  li.pagination-next a{
	color:transparent
}
.contentBottom .pagination-next a:after{
	content:"";
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-3px;
	margin-top:-6px;
	width:0; 
    height:0; 
	float:left;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:6px solid  transparent; 
}
.contentBottom .pagination-prev.disabled a:after{
	content:"";
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-3px;
	margin-top:-6px;
	width:0; 
    height:0; 
	float:left;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-right:6px solid  transparent; 
}
.contentBottom .pagination-next.disabled a:after{
	content:"";
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-3px;
	margin-top:-6px;
	width:0; 
    height:0; 
	float:left;
    border-top:6px solid transparent;
    border-bottom:6px solid transparent;
    border-left:6px solid  transparent; 
}

/*模态框*/
.iovModal .modal-content{
	border-radius:9px ;
}
.iovModal .modal-header{
	padding:9px 15px;
	font-size:16px;
	border-radius: 6px 6px 0 0;
}
.iovModal .modal-header button.close{
	color:#FFF;
	font-weight: 400;
	opacity:1 ;
}
.iovModal .modal-header button.close:hover{
	opacity:0.5;
}
.iovModal .modal-body{
	padding:0;
}
.iovModal .modal-input{
	width:100%;
	background-color:#F5F7F7 ;
	padding:15px 15px 10px 15px
}
.iovModal .modal-input .modal-column{
	width:50%;
	padding:0 35px;
	float:left;
}
.iovModal .modal-input .modal-column .form-group{
	margin:10px 0 20px 0;
}
.form-control{
	border:1.5px #C9C9C9 solid;
	border-radius: inherit;
}
.iovModal .modal-submit{
	width:100%;
	height:50px;
	text-align: right;
	padding:10px 30px;
}
.iovModal .modal-submit button{
	margin-left:15px;
}
.iovModal .drag{
	position: relative;
	top:40px;
	margin:0 auto;
	width:600px;
}
.modal-open .iovModal.modal{
	overflow: hidden;
}
.iovModal.fixed .modal-content{
	height:100%
}
.iovModal.fixed .drag{
	width:1000px;
	position: absolute;
	top:40px;
	bottom:40px;
	left:50%;
	margin:0;
	margin-left:-500px;
}

.iovModal.fixed .modal-content  .modal-body{
	position:absolute;
	top:41.85px;
	bottom:0;
	width:100%;
}
.iovModal.fixed .modal-content  .modal-body .modal-bodyMain{
	position:absolute;
	top:0;
	bottom:70px;
	left:0;
	width:100%;
	padding:20px 25px;
	background-color:#F2F0F0;
}
.iovModal.fixed .modal-content  .modal-body .modal-submit{
	position:absolute;	
	bottom:0;
	left:0;
}


.iovModal .error{
	height:29px;
	width:100%;
	margin-top:-29px;
	float:left;
}
.iovModal .errorTips{
	position:relative;
	float:left;
    top: 17px;
    left: 0px;
	background:#FFF ;
	border:1px #CCC solid;
	border-radius:5px;
	color:#000;
	padding:8px 8px;
	box-shadow: 3px 3px 2px #888888;
	z-index:9999;
}
.iovModal .errorTips>span{
	color:#FCB20D;
	font-size:14px;
	margin-right:3px;
}
.iovModal .errorTips .border{
	position: absolute;
    top: -20px;
    left: 20px;
    display: block;
    width: 0px;
    height: 0px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #CCC transparent;
    position: absolute;

}
.iovModal .errorTips .border span{
display: block;
width: 0px;
height: 0px;
border-width: 11px;
border-style: solid;
border-color: transparent transparent #FFF transparent;
position: absolute;
top: -10px;
left: -11px;
}

.iovModalDelete .modalDelete{
	font-size: 14px;
	position: relative;
	left:50%;
	top:30%;
	width: 400px;
	margin-left:-200px;
}

.iovModalDelete .modalDelete .modal-content{
	height:180px;
	text-align: center;
}

.iovModalDelete .modalDelete .modal-content .modal-body div{
	height:33px;
	width:100%;
	margin-bottom:20px;
	line-height:33px;
	vertical-align: middle;
}

.iovModalDelete .modalDelete .modal-content .modal-body div span:nth-of-type(1){
	display: inline-block;
	float:left;
	font-size: 30px;
	margin-right:10px;
	color:blue;
}

.iovModalDelete .modalDelete .modal-content .modal-body div span:nth-of-type(2){
	display: inline-block;
	float:left;
}

.iovModalDelete .modalDelete .modal-body .btn{
	padding: 6px 12px;
	margin:0 10px 0 0;
	width:auto;
	line-height: inherit;
	/*background-color: #29D2A9;*/
	/*color:#FFF;*/
}

.iovOperationAnimate{
	position:absolute;
	right:10px;
	bottom:-140px;
	background-color:#29D2A9;
	z-index: 1050;
	padding:20px 25px 25px 25px;
	width:200px;
	height:85px;
}

.iovOperationAnimate .tipIcon{
	float: left;
	width:65px;
}
.iovOperationAnimate .tipWord{
	min-width:140px;
	color: #fff;
	line-height: 18px;
	font-size:14px;
}



/*全局布局*/
/*标题*/
header.iovTitle{
	width:100%;
	height:80px;	
	box-shadow: 0px 1px 10px #888888;
	position: relative;
	z-index:2 ;
}
.iovTitle .logo{
	float:left;
	width: 250px;
	height: 100%;
	overflow: hidden;
	font:400 16px "幼圆";
	color:#FFF;
	padding:10px;
	letter-spacing: 2px;
}
.iovTitle .sysw1n{
	float:left;
	width: 250px;
	height: 100%;
	overflow: hidden;
	font:400 16px "幼圆";
	color:#FFF;
	padding:27px;
	letter-spacing: 2px;
}
.iovTitle .logo img{
	margin-right:5px;
}
.iovTitle .sysw1n img{
	margin-right:5px;
}
.iovTitle>ul{
	height: 100%;
	float:left;
}
.iovTitle>ul li{
	position:relative;
	float:left;
    display: block;	
	height: 100%;
	width:100px;
	font:400 14px "microsoft yahei";
	text-align: center;
	cursor:pointer;
}
.iovTitle>ul li.active img{
	top:-42px
}
.iovTitle>ul li span{
	display: inline-block;
	width:100%;
	position:absolute;
	bottom:12px;
	left:0;
	text-align: center;
}
.iovTitle>ul li .menuIcon{
	height:42px;
	width:96px;
	margin:10px auto;
	overflow: hidden;
}
.iovTitle>ul li .menuIcon img{
	position: relative;
}
.iovTitle .loginBox{
	height:100%;
	width:324px;
	float:right;
	color:#000;
}
.iovTitle .loginBox .skin{
	height:40%;
	width:100%;
	position: relative;
}
.iovTitle .loginBox .skin .changeSkin{
	width:170px;
	height:26px;
	position: absolute;
	right:-100px;
	top:6px;
	line-height:23px;
	vertical-align: middle;
	background:rgba(255,255,255,0.2);
	box-shadow:0px 0px 2px rgba(255,255,255,0.6);
	border:1px rgba(255,255,255,0.2) solid;
	border-radius:20px 0 0 20px;
	color:#FFF;
	padding-left:10px;
}
.iovTitle .loginBox .skin .changeSkin>span{
	cursor:pointer
}
.iovTitle .loginBox .skin .changeSkin>span:before{
	margin-right:8px;
}
.iovTitle .loginBox .skin ul{
	float:right;
	position: relative;
	top:5px;		
}
.iovTitle .loginBox .skin ul li{
	float:left;	
	margin-right:10px;
	cursor:pointer;	
}
.iovTitle .loginBox .skin ul li span{
	display: block;
	height:14px;
	width:14px;
	border-radius:16px;	
}
.iovTitle .loginBox .skin ul li span.green{
	background:rgb(48,175,174);
}
.iovTitle .loginBox .skin ul li span.blue{
	background:rgb(82,146,226);		
}
.iovTitle .loginBox .skin ul li span.lightblue{
	background:rgb(14,142,231);		
}
.iovTitle .loginBox .skin ul li span.black{
	background:rgb(83,99,119);		
}
.iovTitle .loginBox .tool{
	height:60%;
	width:100%;
	line-height:48px;
	vertical-align: top;
	overflow:hidden;
}
.iovTitle .loginBox .tool>span{
    cursor: pointer;
}
.iovTitle .loginBox .tool>span{
	font-size:16px;
	margin-right:18px;
}
.iovTitle .loginBox .tool span#username{
	font-size:14px;
	cursor:default;
	float: right;
}
.iovTitle .loginBox div.off{
	height:100%;
	width:57px;
	float:right;
}
.iovTitle .loginBox div.off span:first-of-type{
	cursor:pointer;
}

/*带标题的布局中，标题的默认样式*/
.iovNavBar{
	height:100%;
	width:200px;
	overflow:hidden;
	color:#FFF ;
	position: relative;
}
.iovNavBar .panel{
	background-color: inherit;
}
.iovNavBar .panel-default > .panel-heading{
	background-color: inherit;
	color: inherit;	
}
.iovNavBar>div.head{
	height:50px;
	width:100%;
	text-align: right;
	padding:15px 20px 15px 0;
}
.iovNavBar>div.head span{
	cursor:pointer;
	font-size:18px;
}
.iovNavBar .leftBar{
	position: absolute;
	top:60px;
	bottom:0;
	left:0;
	right:0;
}
.iovNavBar .leftBar .panel-group{
	width:200px ;
}
.iovNavBar .leftBar .panel-group .panel{
	border:none;
	margin-top:0;
}
.iovNavBar .leftBar .panel-heading{
	padding:14px 0;
	cursor:pointer;
	font-size:14px;
	height:50px;
	width:100%;
	border-radius:0 ;
	position: relative;
}

.iovNavBar .leftBar .panel-heading div.icon{
	height:18px;
	width:18px;
	overflow: hidden;
	float:left;
	margin:2px 20px 0 20px;
}
.iovNavBar .leftBar .panel-heading div.icon img{
	width:36px;
	height:18px;
	position: relative;
	float:left;
}
.iovNavBar .leftBar .panel-default > .panel-heading + .panel-collapse > .panel-body{
	padding:0;
	border:none;
}
.iovNavBar .leftBar .panel-body ul li{
	padding:15px 0 15px 60px;
	cursor:pointer;
	position: relative;
}
.iovMainContent{
	position: absolute;
	top:0;
	left:200px;
	right:0;
	bottom:0;
}
.contentTitle{
	width:100%;
	height:50px;
	border-bottom:1px #E7E4E4 solid;
	font:400 16px "microsoft yahei";
	line-height:50px;
	vertical-align: middle;
	padding-left:25px;
	color:#ADADAF;
	background-color:#F6F6F6;
	cursor:default
}
.contentTitle >span{
	font-size:18px;
	margin-right:5px;
}
.contentBody{
	height:100%;
	width:100%;
}
.contentBody>div{
	height:100%;
	width:100%;
}


.lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #E3E3E3;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
  border:1px #ccc solid;
  margin:4px auto;
}
.lbl:after {
  position: absolute;
  left: -1px;
  top: -1px;
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 100px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
  border:1px #ccc solid;
}
.lbl:active:after {
  transform: scale(1.15, 0.85);
}
.cbx:checked ~ label.green {
  background: #2CAF80;
}
.cbx:checked ~ label.blue {
  background: #57C1D5;
}
.cbx:checked ~ label:after {
  left: 25px;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after {
  background: #bcbdbc;
}
.cntr {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.press {
  margin-bottom: 40px;
}
.cbx {
  display: none;
}
.loadingModel{
	width:160px;
	height:160px;
	position: absolute;
	top:200px;
	left:50%;
	line-height:56px;
	color:#fff;

	font-size:15px;
	background:  url(/css/basecss/img/loading.gif) no-repeat;
	background-position:14px 14px;
	opacity: 0.7;
	z-index:9999;
	-moz-border-radius:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
}
/*动态设置表格中过长的的内容只显示部分====START====*/
.table {
	table-layout: fixed;
}
.table td {
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}
/*动态设置表格中过长的的内容只显示部分====END====*/
