<nav class="navbar navbar-default navbar-fixed-top bjcolor1">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">订餐</a>
        </div>
    </div>
</nav>
<div class="mlr15">
<ol class="breadcrumb mt58 bjcolor1">
    <li><a href="#">首页</a></li>
    <li><a href="#">详情</a></li>
</ol>
</div>
<div class="container " ng-controller="Mc2">
<div class="panel panel-default bjcolor2">
    <h3>【酸甜开喂虾】</h3>
    <div class="hengxian mt20"></div>
    <div class="container neirong bjcolor1">
        <img src="img/p0281-l.jpg" alt=""/>
        <p><strong>主要食料:</strong>明虾、番茄酱、白糖、白醋、葱、姜、淀粉</p>
        <p>话说有两个地方是我挪不动脚的，一个是图书馆，列一个便是菜市场！每周有七天，留给自己的时间却很少。既要带儿子去上早教课，又要陪女儿上兴趣班，还要留半天带孩子泡图书馆！有时候真觉得妈妈是这个世界上最伟大的职业，累，并快乐着！这个时节正是各类果蔬大量上市的时候，拖着买菜专用的小拉车。徜徉在人声鼎沸的菜市场，从海鲜区、肉类区、再慢慢逛到我最喜爱的果蔬区，感受季节的变换带给人们餐桌上的喜悦……</p>
        <span>￥36.00</span>
    </div>
    <div class="panel-footer bjcolor1 text_r">
        <button type="button" class="btn btn-success" ng-click="tz()">我要订餐</button>
        <button type="button" class="btn btn-warning" ng-click="tzz()">我再看看</button>
    </div>
</div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom bjcolor1">
    <div class="container ctn">
        <div class="row">
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-home dis_b"></span>
            </div>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-user dis_b"></span>
            </div>
            <div class="col-xs-4">
                <span class="glyphicon glyphicon-th-list dis_b"></span>
            </div>
        </div>
    </div>
</nav>
